@import "tailwindcss";

body::before {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(34,197,94,0.3), transparent);
  top: 20%;
  left: 30%;
  filter: blur(100px);
  z-index: -1;
}